<div class="event-scheduler-container">
  <div class="event-scheduler-hour-container">
    @for (hour of hours; track hour) {
      <div class="event-scheduler-hour">
        {{ timeToTimeString(hour, 0) }}
      </div>
    }
  </div>

  <div class="event-scheduler-minute-container" cdkDropListGroup>
    <div id="cdk-container" class="event-scheduler-minutes" cdkDropList [cdkDropListData]="timeSlots"
      (cdkDropListDropped)="drop($event)">
      @for (slot of timeSlots; track slot) {
        <div class="event-scheduler-time-slot" (click)="clickScheduleArea(slot)" cdkDrag cdkDragDisabled></div>
      }
    </div>
    @for (event of events$(); track event; let idx = $index, isEven = $even) {

      <div class="event-scheduler-event-slots" cdkDropList [cdkDropListData]="event"
        [cdkDropListEnterPredicate]="canDragEventEnter" [ngStyle]="defineStyle(event)">
        <div #eventSlot="cdkDrag" class="event-scheduler-event-slot" cdkDragLockAxis="y" cdkDrag
          [class.pointer-events-none]="eventSlot._dragRef.isDragging()"
          (click)="clickScheduleArea(event, true)">
          {{ event.title }}
        </div>
        <div *cdkDragPreview class="event-scheduler-event-slot">
        </div>
      </div>
    }
  </div>
</div>

<!-- <div
class="event-scheduler-event-slot"
cdkDragLockAxis="y"
cdkDrag
(click)="clickEvent(event)">
{{ event.title }}
<div *cdkDragPreview class="event-scheduler-event-slot-preview">
  {{ event.title }}
</div>
</div>
</div> -->
