@mixin event_slot {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 4px;
  background-color: var(--color-violet);
  border: 1px var(--color-yellow) solid;
  color: var(--color-yellow);
  font-size: 14px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;

  @media (max-width: 768px) {
    width: 100%;
    font-size: 12px;
    font-weight: bold;
  }
}

.pointer-events-none {
  pointer-events: none;
}

.event-scheduler-container {
  display: flex;

  .event-scheduler-hour-container {
    .event-scheduler-hour {
      display: flex;
      align-items: center;
      height: 51px;
      padding: 0 12px;
      border-right: 1px solid #f1f3f4;
      border-bottom: 1px solid #f1f3f4;
    }
  }

  .huge-message {
    position: absolute;
    top: 40vh;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .event-scheduler-minute-container {
    flex: 1;
    position: relative;


    .event-scheduler-time-slot { //styles for time-grid
      height: 12px;
      cursor: pointer;
      border-bottom: 1px solid transparent;

      &:nth-child(4n) {
        border-bottom: 1px solid #f1f3f4;
      }
      &:hover {
        background-color: #f5f5f5;
      }
      &.selected {
        background-color: #b3e5fc;
      }
    }
    .event-scheduler-allday-slot {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 4.5%;
      background-color: var(--color-yellow);
      border: 1px var(--color-violet) solid;
      color: var(--color-violet);
      writing-mode: vertical-rl;
      padding: 10px 3px;
      cursor: crosshair;

      .allday-label {
        transform: rotateZ(180deg);
        display: inline-block;
        border: 2px dotted gray;
        border-radius: 3px;
        padding: 12px 2px;
        cursor: pointer;
        margin: 6px auto;
        font-weight: 600;
        font-size: large;
      }
    }

    .event-scheduler-event-slots {
      position: absolute;
      right: 0;
    }


    .event-scheduler-event-slot { // single event look
      @include event_slot
    }
  }
}

