<mat-toolbar>
  <mat-toolbar-row class="flex-between">
    <div class="flex vert-center">
      <img [routerLink]="'/'" src="/carp_01.jpeg" style="margin: 0 2rem; border-radius: 8px;"  height="55" width="83" alt="logo flying carp">
      <h2> Calenday, Angulembre 19, 2025 </h2>
    </div>
    <a [routerLink]="['/']" mat-icon-button><mat-icon>home</mat-icon></a>
  </mat-toolbar-row>
</mat-toolbar>
<main class="main">
  <div class="calendar-container">
    <div class="events-container">
      <router-outlet></router-outlet> <!-- slot picker and events list area -->
    </div>

    <mat-card class="calendar">
      <mat-calendar  [selected]="selectedDate" (selectedChange)="onSelect($event)"></mat-calendar>
    </mat-card>
  </div>
</main>
