mat-toolbar {
  background-color: var(--color-orange);
}
.mat-toolbar-row {
  display: flex;
  justify-content: space-between;
}
.main {
  background-image: url('../../public/backgr.jpg');
  background-size: cover;
  padding: 2rem;
  min-height: 100%;

  @media (max-width: 768px) {
    padding: 5px;
  }
}

.calendar-container {
  display: flex;
  margin-top: 25px;

  @media (max-width: 998px) {
    flex-direction: column-reverse;
  }

  .calendar {
    flex: 0 1 320px;
    margin-left: 5%;
    height: fit-content;
    border: 2px solid var(--color-violet);
  }

  .events-container {
    min-height: 90vh;
    width: 100%;
    height: 100%;
    border: 3px solid lightgrey;
    border-radius: 12px;
    background-color: white;
    text-align: center;
  }
}
