html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-button[disabled] {
  opacity: 0.6;
}


.flex {
  display: flex;

  &.vert-center {
    align-items: center;
  }
}

.flex-between {
  display: flex;
  justify-content: space-between;
}
