@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  --color-violet: #34495e;
  --color-yellow: #f1c40f;
  --color-orange: #e67e22;


  @include mat.progress-bar-overrides((
    active-indicator-color: var(--color-yellow),
    track-color: var(--color-violet),
    track-height: 30px,
    active-indicator-height: 12px,
  ));
  @include mat.progress-spinner-overrides((
    active-indicator-color: var(--color-orange),
  ));
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-button[disabled] {
  opacity: 0.6;
}


.flex {
  display: flex;

  &.vert-center {
    align-items: center;
  }
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.huge-message {
  font-size: xx-large;
}
mat-progress-bar {
  margin: auto;
  width: 50%;
}
